
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/static/style2/img/favicon.png" />
    <link rel="icon" type="image/x-icon" href="/static/style2/img/favicon.png" />

    <title>Корпорация роста</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/style2/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/static/style2/css/jumbotron.css" rel="stylesheet">
    <!-- carousel infografika -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link href="/static/style2/css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/style2/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="media" style="position: absolute; top: 1px; ">
            <a class="pull-left" href="/">
                <img class="media-object" src="/static/style2/img/logo-only.png" style="width: 55%;">
            </a>
            <div class="media-body">
               <a class="pull-left" href="/" style="text-decoration: none;">
                <h1 class="media-heading" style="font-size: 100%"><strong>КОРПОРАЦИЯ РОСТА</strong></h1>
                <h2 class="media-heading" style="font-size: 100%"><em>Белгородская область</em></h2>
               </a>
            </div>
     </div>

    <div id="colorJumbotron">
     <div class="jumbotronMain">
      <div class="container">
        <div class="row">
            <div class="col-xs-6">
              <div class="blockquote-reverse">
                <h2>Инерционный портал</h2>
                <h1>Белгородской области</h1>
                <h3><abbr title="Телефон">T:</abbr> +7 (123) 456-7890</h3>
                <a href="mailto:#">first@example.com</a>
                <h3 style="color: #000000"><abbr title="Телефон горячей линии">Горячая линия:</abbr> +7 (123) 456-7890</h3>
                  <br>

               </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <a href="/" style="text-decoration: none; color: #3c3c3c;">
                        <div class="col-xs-1">
                            <h2><span class="glyphicon glyphicon-envelope"></span></h2>
                        </div>
                        <div class="col-xs-11">
                            <h3>Губернатор и Правительство Белгородской области </h3>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="/" style="text-decoration: none; color: #3c3c3c;">
                        <div class="col-xs-1">
                            <h2><span class="glyphicon glyphicon-envelope"></span></h2>
                        </div>
                        <div class="col-xs-11">
                            <h3>Департамент внутренней и кадровой политики Белгородской области</h3>
                        </div>
                    </a>
                    </div>
                <div class="row">
                    <a href="/" style="text-decoration: none; color: #3c3c3c;">
                        <div class="col-xs-1">
                            <h2><span class="glyphicon glyphicon-envelope"></span></h2>
                        </div>
                        <div class="col-xs-11">
                            <h3>Департамент экономического развития Белгородской области </h3>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="/" style="text-decoration: none; color: #3c3c3c;">
                        <div class="col-xs-1">
                            <h2><span class="glyphicon glyphicon-envelope"></span></h2>
                        </div>
                        <div class="col-xs-11">
                            <h3>Департамент АПК Белгородской области </h3>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="/" style="text-decoration: none; color: #3c3c3c;">
                        <div class="col-xs-1">
                            <h2><span class="glyphicon glyphicon-envelope"></span></h2>
                        </div>
                        <div class="col-xs-11">
                            <h3>Инвестиционный совет при Губернаторе Белгородской области </h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
      </div>
     </div>
    </div>


    <nav class="navbar navbar-inverse" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">О КОРПОРАЦИИ</a></li>
            <li><a href="#">ИНВЕСТОРУ</a></li>
            <li><a href="#">ИНВЕСТИЦИОННАЯ КАРТА</a></li>
            <li><a href="#">МЕДИА</a></li>
            <li><a href="#">КОНТАКТЫ</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Поиск" style="width: 90px">
            </div>
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </form>
          <form class="navbar-form navbar-right">
            <button type="submit" class="btn btn-default">Вход</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container">
      <div id="load">
          {% include 'main/main_content.html' %}
      </div>
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Российско-Китайское ЭКСПО</h2>
                <p>11 июля

В Екатеринбурге пройдет Третье Российско-Китайский ЭКСПО
В период с 11 по 14  июля 2016 года в г. Екатеринбурге в Международном выставочном центре «Екатеринбург-Экспо» состоится Третье Российско-Китайское Экспо, являющееся крупнейшим российско-китайским конгрессно-выставочным мероприятием и призванное стать одним из важнейших механизмов развития экономических, торговых и межрегиональных отношений России и КНР </p>
                <p><a class="btn btn-default" href="#" role="button">Подробнее &raquo;</a></p>
            </div>
        <div class="col-md-4">
          <h2>Среднерусский экономический форум</h2>
          <p>04 июля
Корпорация «Развитие» награждена грамотой за участие в деловом состязании инвестиционных проектов Среднерусского экономического форума
В этом году СЭФ, который прошел с 1 по 3 июля в Курской области, был посвящен  теме «Экономика на службе новых поколений», продиктованной, по словам организаторов, самим временем. Страна вступила в полосу структурного экономического кризиса, причина которого во многом кроется в недооценённости стратегического планирования </p>
          <p><a class="btn btn-default" href="#" role="button">Подробнее &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Наращиваем интегративное взаимодействие</h2>
          <p>В рамках рабочего визита в Белгородскую область атташе по вопросам сельского хозяйства отдела экономики, сельского хозяйства и инноваций Посольства Королевства Нидерландов Эрик Смит встретился с руководством АО «Корпорация «Развитие»</p>
          <p><a class="btn btn-default" href="#" role="button">Подробнее &raquo;</a></p>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; 2016 Пример сайта.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/style2/ie10-viewport-bug-workaround.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  </body>
</html>
