<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" xmlns="http://www.w3.org/1999/html">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img  alt="First slide" src="/static/style2/img/carousel/small_information_items_506.jpg">
        </div>
        <div class="item">
          <img  alt="Second slide" src="/static/style2/img/carousel/small_information_items_508.jpg">
        </div>
        <div class="item">
          <img  alt="The third slide" src="/static/style2/img/carousel/small_information_items_510.png">
        </div>
        <div class="item">
          <img  alt="fourth slide" src="/static/style2/img/carousel/small_information_items_635.jpg">
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
</div>

<div class="row">
    <div class="col-sm-4">
        <figure class="effect-lily">
			<img src="/static/style2/img/hover/pomidory.jpg" alt="img12">
				<figcaption>
					<div>
						<h3><strong>Тепличное производство</strong></h3>
						<!-- <p>Узнайте больше при нажатии</p> -->
					</div>
					<a href="#">View more</a>
                </figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure class="effect-lily">
			<img src="/static/style2/img/hover/zhivotnovodstvo.jpg" alt="img12">
				<figcaption>
					<div>
						<h3><strong>Молочное животноводство</strong></h3>
					</div>
					<a href="#">View more</a>
                </figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure class="effect-lily">
			<img src="/static/style2/img/hover/Karpy.jpg" alt="img12">
				<figcaption>
					<div>
						<h3><strong>Аквакультура </strong></h3>
					</div>
					<a href="#">View more</a>
                </figcaption>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <figure class="effect-lily">
			<img src="/static/style2/img/hover/lep.jpg" alt="img12">
				<figcaption>
					<div>
						<h3><strong>Распределенная энергетика </strong></h3>
					</div>
					<a href="#">View more</a>
                </figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure class="effect-lily">
			<img src="/static/style2/img/hover/prompark.jpg" alt="img12">
				<figcaption>
					<div>
						<h3><strong>Промышленные парки </strong></h3>
					</div>
					<a href="#">View more</a>
                </figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure class="effect-lily">
			<img src="/static/style2/img/hover/5000.jpg" alt="img12">
				<figcaption>
					<div>
						<h3><strong>Улучшение инвестиционного климата региона </strong></h3>
					</div>
					<a href="#">View more</a>
                </figcaption>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
         <h1>ЦИФРЫ И ФАКТЫ В ИНФОГРАФИКЕ</h1>
        <div class="well">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x"><img src="/static/style2/img/infografika/small_information_items_1730.jpg" alt="Image" class="img-responsive" onclick="viewModal('1730')"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="/static/style2/img/infografika/small_information_items_2037.jpg" alt="Image" class="img-responsive" onclick="viewModal('2037')"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="/static/style2/img/infografika/small_information_items_2143.jpg" alt="Image" class="img-responsive" onclick="viewModal('2143')"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="/static/style2/img/infografika/small_information_items_2150.jpg" alt="Image" class="img-responsive" onclick="viewModal('2150')"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="/static/style2/img/infografika/small_information_items_2243.jpg" alt="Image" class="img-responsive" onclick="viewModal('2243')"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="/static/style2/img/infografika/small_information_items_1730.jpg" alt="Image" class="img-responsive" onclick="viewModal('1730')"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="/static/style2/img/infografika/small_information_items_2037.jpg" alt="Image" class="img-responsive" onclick="viewModal('2037')"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="/static/style2/img/infografika/small_information_items_2143.jpg" alt="Image" class="img-responsive" onclick="viewModal('2143')"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
</div>
<!-- начало Модальное окно просмотра фото-->
<!-- Modal -->
<style>
    .modal .modal-dialog {
        width: 60%;
    }
</style>
<div class="modal fade" id="modalViewImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="modal-gallery-image" class="img-responsive" src="">
            </div>
        </div>
    </div>
</div>

<script>
    function viewModal(idImage) {
        $('#modal-gallery-image').attr('src', '/static/style2/img/infografika/information_items_'+idImage+'.jpg')
        $('#modalViewImage').modal('show')
    }
</script>
<!-- конец Модальное окно просмотра фото-->